@use "./base.scss";

// put your custom CSS here!

// 表格容器居中
.table-container {
  display: flex;
  justify-content: center;

  & > table {
    margin: 1.5rem 0;

    // 表头居中
    th {
      text-align: center;
    }

    // 内容左对齐
    td {
      text-align: left;
    }
  }
}
